fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
asyncpg
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
google-genai
pdfplumber
PyMuPDF
python-docx
pytesseract
Pillow
python-bidi==0.6.3
xhtml2pdf
markdown
python-dotenv
pydantic-settings
python-multipart
pydantic[email]
